.page {
  *zoom: 1;
  max-width: 99.8em;
  _width: 99.8em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  .page:after {
    content: "";
    display: table;
    clear: both; }

/*header {
  position: fixed;
  width: 100%;
  background-color: #FFF;
  background-color: white;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0; }
  @media (max-width: 768px) {
    header {
      position: absolute; } }*/

nav.sub-nav {
  width: 100%;
  height: 2em;
  text-align: center;
  background-color: #FFF;
  background-color: white;
  margin-top: 0.4em; }
  @media (max-width: 768px) {
    nav.sub-nav {
      margin-top: -0.2em; } }
  @media (max-width: 480px) {
    nav.sub-nav {
      margin-top: -0.7em; } }
  nav.sub-nav .sub-nav-item {
    text-transform: uppercase; }
  nav.sub-nav .sub-nav-item + .sub-nav-item {
    margin-left: 3em; }
  nav.sub-nav span.current {
    color: #AAA; }
  nav.sub-nav a {
    text-decoration: none;
    color: #000; }
    nav.sub-nav a.current, nav.sub-nav a:hover {
      color: #AAA; }

.page .content {
  padding-top: 2em;
  text-align: center;
  float: right;
  position: relative;
  left: -50%;
  background-color: transparent; }
  .page .content .grid-item {
    margin: 5px; }
  @media (min-height: 0px) and (min-width: 0px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 109.66667px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 3.5px 7px 3.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      font-size: 0.7em;
      font-size: 0.6em;
      font-size: 0.6em;
      font-size: 0.5em;
      font-size: 0.4em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 532.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 0px) and (min-width: 0px) and (max-width: 768px) {
    .page .content .wrap {
      width: 519.3px; } }
  @media (min-height: 0px) and (min-width: 0px) and (max-width: 480px) {
    .page .content .wrap {
      width: 300.3px; } }

  @media (min-height: 480px) and (min-width: 768px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 109.66667px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 3.5px 7px 3.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      font-size: 0.7em;
      font-size: 0.6em;
      font-size: 0.6em;
      font-size: 0.5em;
      font-size: 0.4em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 532.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 480px) and (min-width: 768px) and (max-width: 768px) {
    .page .content .wrap {
      width: 519.3px; } }
  @media (min-height: 480px) and (min-width: 768px) and (max-width: 480px) {
    .page .content .wrap {
      width: 300.3px; } }

  @media (min-height: 500px) and (min-width: 800px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 109.66667px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 3.5px 7px 3.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      font-size: 0.7em;
      font-size: 0.6em;
      font-size: 0.6em;
      font-size: 0.5em;
      font-size: 0.4em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 532.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 500px) and (min-width: 800px) and (max-width: 768px) {
    .page .content .wrap {
      width: 519.3px; } }
  @media (min-height: 500px) and (min-width: 800px) and (max-width: 480px) {
    .page .content .wrap {
      width: 300.3px; } }

  @media (min-height: 550px) and (min-width: 880px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 125.33333px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 4px 8px 4px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      font-size: 0.7em;
      font-size: 0.6em;
      font-size: 0.6em;
      font-size: 0.5em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 605.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 550px) and (min-width: 880px) and (max-width: 768px) {
    .page .content .wrap {
      width: 592.3px; } }
  @media (min-height: 550px) and (min-width: 880px) and (max-width: 480px) {
    .page .content .wrap {
      width: 373.3px; } }

  @media (min-height: 600px) and (min-width: 960px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 141px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 4.5px 9px 4.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      font-size: 0.7em;
      font-size: 0.6em;
      font-size: 0.6em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 678.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 600px) and (min-width: 960px) and (max-width: 768px) {
    .page .content .wrap {
      width: 665.3px; } }
  @media (min-height: 600px) and (min-width: 960px) and (max-width: 480px) {
    .page .content .wrap {
      width: 446.3px; } }

  @media (min-height: 650px) and (min-width: 1040px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 156.66667px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 5px 10px 5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      font-size: 0.7em;
      font-size: 0.6em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 751.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 650px) and (min-width: 1040px) and (max-width: 768px) {
    .page .content .wrap {
      width: 738.3px; } }
  @media (min-height: 650px) and (min-width: 1040px) and (max-width: 480px) {
    .page .content .wrap {
      width: 519.3px; } }

  @media (min-height: 700px) and (min-width: 1120px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 172.33333px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 5.5px 11px 5.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      font-size: 0.7em;
      font-size: 0.6em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 824.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 700px) and (min-width: 1120px) and (max-width: 768px) {
    .page .content .wrap {
      width: 811.3px; } }
  @media (min-height: 700px) and (min-width: 1120px) and (max-width: 480px) {
    .page .content .wrap {
      width: 592.3px; } }

  @media (min-height: 750px) and (min-width: 1200px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 188px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 6px 12px 6px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      font-size: 0.7em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 897.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 750px) and (min-width: 1200px) and (max-width: 768px) {
    .page .content .wrap {
      width: 884.3px; } }
  @media (min-height: 750px) and (min-width: 1200px) and (max-width: 480px) {
    .page .content .wrap {
      width: 665.3px; } }

  @media (min-height: 800px) and (min-width: 1280px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 203.66667px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 6.5px 13px 6.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      font-size: 0.8em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 970.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 800px) and (min-width: 1280px) and (max-width: 768px) {
    .page .content .wrap {
      width: 957.3px; } }
  @media (min-height: 800px) and (min-width: 1280px) and (max-width: 480px) {
    .page .content .wrap {
      width: 738.3px; } }

  @media (min-height: 850px) and (min-width: 1360px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 219.33333px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 7px 14px 7px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      font-size: 0.9em;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 1043.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 850px) and (min-width: 1360px) and (max-width: 768px) {
    .page .content .wrap {
      width: 1030.3px; } }
  @media (min-height: 850px) and (min-width: 1360px) and (max-width: 480px) {
    .page .content .wrap {
      width: 811.3px; } }

  @media (min-height: 900px) and (min-width: 1440px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 235px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 7.5px 15px 7.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 1116.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 900px) and (min-width: 1440px) and (max-width: 768px) {
    .page .content .wrap {
      width: 1103.3px; } }
  @media (min-height: 900px) and (min-width: 1440px) and (max-width: 480px) {
    .page .content .wrap {
      width: 884.3px; } }

  @media (min-height: 950px) and (min-width: 1520px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 250.66667px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 8px 16px 8px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 1189.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 950px) and (min-width: 1520px) and (max-width: 768px) {
    .page .content .wrap {
      width: 1176.3px; } }
  @media (min-height: 950px) and (min-width: 1520px) and (max-width: 480px) {
    .page .content .wrap {
      width: 957.3px; } }

  @media (min-height: 1000px) and (min-width: 1600px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 266.33333px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 8.5px 17px 8.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 1262.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 1000px) and (min-width: 1600px) and (max-width: 768px) {
    .page .content .wrap {
      width: 1249.3px; } }
  @media (min-height: 1000px) and (min-width: 1600px) and (max-width: 480px) {
    .page .content .wrap {
      width: 1030.3px; } }

  @media (min-height: 1100px) and (min-width: 1760px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 297.66667px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 9.5px 19px 9.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 1408.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 1100px) and (min-width: 1760px) and (max-width: 768px) {
    .page .content .wrap {
      width: 1395.3px; } }
  @media (min-height: 1100px) and (min-width: 1760px) and (max-width: 480px) {
    .page .content .wrap {
      width: 1176.3px; } }

  @media (min-height: 1200px) and (min-width: 1920px) {
    .page .content .grid-item img {
      /* // height: ($height - $topNavHeight - ($grid-item-margin * 3)) / 3 !important; */
      height: 329px !important;
      /*  // @include single-transition(height, .3s, ease-in-out); */ }
    .page .content .grid-item {
      margin: 0 10.5px 21px 10.5px; }
    .page .content .wrap {
      font-size: 1em;
      line-height: 1.2;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 1554.9px;
      /*  background-color: #eee; */
      /*  min-height: 100px; */ } }
  @media (min-height: 1200px) and (min-width: 1920px) and (max-width: 768px) {
    .page .content .wrap {
      width: 1541.3px; } }
  @media (min-height: 1200px) and (min-width: 1920px) and (max-width: 480px) {
    .page .content .wrap {
      width: 1322.3px; } }

  .page .content .wrap {
    position: relative;
    left: 50%; }
  .page .content .grid-item {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
    display: block;
    float: left;
    position: relative;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    /*             margin: 0 $grid-item-margin $grid-item-margin 0;*/
    outline: none;
    /*  @media (max-width:  $phone ){
       margin: 0 $grid-item-margin/2 $grid-item-margin/2 0;
     } */ }
    .page .content .grid-item.loaded {
      background-color: white; }
    .page .content .grid-item .overlay {
      visibility: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
    .page .content .grid-item img {
      position: relative;
      float: left;
      display: block;
      width: auto !important; }
      @media (max-width: 480px) {
        .page .content .grid-item img {
          height: 60px !important; } }
      .page .content .grid-item img.anim {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute; }
    .page .content .grid-item .gallery-title {
      visibility: hidden;
      position: absolute;
      bottom: 10%;
      left: 0;
      margin: 0;
      text-align: center;
      font-size: 2em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      width: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #FFF;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .2em; }
      .page .content .grid-item .gallery-title p {
        margin: 0;
        display: inline-block;
        min-width: 99%; }
      .page .content .grid-item .gallery-title.bit-smaller p {
        font-size: .9em; }
      .page .content .grid-item .gallery-title.even-smaller p {
        font-size: .8em; }
      .page .content .grid-item .gallery-title.lot-smaller p {
        font-size: .7em; }
    .page .content .grid-item p.gallery-count {
      margin-top: 1em;
      font-size: 0.5em !important;
      letter-spacing: normal; }
    .page .content .grid-item:hover .overlay {
      visibility: visible; }
    .page .content .grid-item:hover .gallery-title, .page .content .grid-item:hover .gallery-count {
      visibility: visible; }

.js img.fade-me-in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

.no-js img.fade-me-in, .lt-ie9 img.fade-me-in {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

.content.slides {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */ }

.slide-wrap {
  width: 100%;
  height: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
  cursor: pointer; }
  @media (max-width: 480px) {
    .slide-wrap {
      overflow: auto; } }

.section-info .slide-wrap {
  cursor: auto; }

.js ul.slide-list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
  width: 100%;
  position: relative;
  /*   @include slide(200px);
    @include slide(210px);
    @include slide(250px);*/ }
  .js ul.slide-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    .js ul.slide-list li:first-child {
      padding-left: 0; }
    .js ul.slide-list li:last-child {
      padding-right: 0; }
    .js ul.slide-list li.last {
      padding-right: 0; }
  .js ul.slide-list.init {
    background-image: url("/img/282.gif");
    background-position: center;
    background-repeat: no-repeat; }
    .js ul.slide-list.init li img, .js ul.slide-list.init .caption {
      visibility: hidden; }
  @media (max-width: 480px) {
    .js ul.slide-list {
      left: 0; } }
  @media (min-height: 0px) and (min-width: 0px) {
    .js ul.slide-list {
      height: 180px; } }
  @media (min-height: 0px) and (min-width: 0px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 230px; } }
  @media (min-height: 0px) and (min-width: 0px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 225px; } }
  @media (min-height: 0px) and (min-width: 0px) {
      .js ul.slide-list .caption.extended {
        font-size: 9px;
        line-height: 11.7px; } }
  @media (min-height: 300px) and (min-width: 480px) {
    .js ul.slide-list {
      height: 180px; } }
  @media (min-height: 300px) and (min-width: 480px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 230px; } }
  @media (min-height: 300px) and (min-width: 480px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 225px; } }
  @media (min-height: 300px) and (min-width: 480px) {
      .js ul.slide-list .caption.extended {
        font-size: 9px;
        line-height: 11.7px; } }
  @media (min-height: 400px) and (min-width: 640px) {
    .js ul.slide-list {
      height: 270px; } }
  @media (min-height: 400px) and (min-width: 640px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 320px; } }
  @media (min-height: 400px) and (min-width: 640px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 315px; } }
  @media (min-height: 400px) and (min-width: 640px) {
      .js ul.slide-list .caption.extended {
        font-size: 9px;
        line-height: 11.7px; } }
  @media (min-height: 450px) and (min-width: 720px) {
    .js ul.slide-list {
      height: 320px; } }
  @media (min-height: 450px) and (min-width: 720px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 370px; } }
  @media (min-height: 450px) and (min-width: 720px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 365px; } }
  @media (min-height: 450px) and (min-width: 720px) {
      .js ul.slide-list .caption.extended {
        font-size: 9px;
        line-height: 11.7px; } }
  @media (min-height: 480px) and (min-width: 768px) {
    .js ul.slide-list {
      height: 350px; } }
  @media (min-height: 480px) and (min-width: 768px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 400px; } }
  @media (min-height: 480px) and (min-width: 768px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 395px; } }
  @media (min-height: 480px) and (min-width: 768px) {
      .js ul.slide-list .caption.extended {
        font-size: 9px;
        line-height: 11.7px; } }
  @media (min-height: 500px) and (min-width: 800px) {
    .js ul.slide-list {
      height: 370px; } }
  @media (min-height: 500px) and (min-width: 800px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 420px; } }
  @media (min-height: 500px) and (min-width: 800px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 415px; } }
  @media (min-height: 500px) and (min-width: 800px) {
      .js ul.slide-list .caption.extended {
        font-size: 9px;
        line-height: 11.7px; } }
  @media (min-height: 550px) and (min-width: 880px) {
    .js ul.slide-list {
      height: 420px; } }
  @media (min-height: 550px) and (min-width: 880px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 470px; } }
  @media (min-height: 550px) and (min-width: 880px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 465px; } }
  @media (min-height: 550px) and (min-width: 880px) {
      .js ul.slide-list .caption.extended {
        font-size: 9px;
        line-height: 11.7px; } }
  @media (min-height: 600px) and (min-width: 960px) {
    .js ul.slide-list {
      height: 470px; } }
  @media (min-height: 600px) and (min-width: 960px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 520px; } }
  @media (min-height: 600px) and (min-width: 960px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 515px; } }
  @media (min-height: 600px) and (min-width: 960px) {
      .js ul.slide-list .caption.extended {
        font-size: 9px;
        line-height: 11.7px; } }
  @media (min-height: 650px) and (min-width: 1040px) {
    .js ul.slide-list {
      height: 520px; } }
  @media (min-height: 650px) and (min-width: 1040px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 570px; } }
  @media (min-height: 650px) and (min-width: 1040px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 565px; } }
  @media (min-height: 650px) and (min-width: 1040px) {
      .js ul.slide-list .caption.extended {
        font-size: 9.28571px;
        line-height: 12.07143px; } }
  @media (min-height: 700px) and (min-width: 1120px) {
    .js ul.slide-list {
      height: 570px; } }
  @media (min-height: 700px) and (min-width: 1120px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 620px; } }
  @media (min-height: 700px) and (min-width: 1120px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 615px; } }
  @media (min-height: 700px) and (min-width: 1120px) {
      .js ul.slide-list .caption.extended {
        font-size: 10px;
        line-height: 13px; } }
  @media (min-height: 750px) and (min-width: 1200px) {
    .js ul.slide-list {
      height: 620px; } }
  @media (min-height: 750px) and (min-width: 1200px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 670px; } }
  @media (min-height: 750px) and (min-width: 1200px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 665px; } }
  @media (min-height: 750px) and (min-width: 1200px) {
      .js ul.slide-list .caption.extended {
        font-size: 10.71429px;
        line-height: 13.92857px; } }
  @media (min-height: 800px) and (min-width: 1280px) {
    .js ul.slide-list {
      height: 670px; } }
  @media (min-height: 800px) and (min-width: 1280px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 720px; } }
  @media (min-height: 800px) and (min-width: 1280px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 715px; } }
  @media (min-height: 800px) and (min-width: 1280px) {
      .js ul.slide-list .caption.extended {
        font-size: 11.42857px;
        line-height: 14.85714px; } }
  @media (min-height: 850px) and (min-width: 1360px) {
    .js ul.slide-list {
      height: 720px; } }
  @media (min-height: 850px) and (min-width: 1360px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 770px; } }
  @media (min-height: 850px) and (min-width: 1360px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 765px; } }
  @media (min-height: 850px) and (min-width: 1360px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 875px) and (min-width: 1400px) {
    .js ul.slide-list {
      height: 745px; } }
  @media (min-height: 875px) and (min-width: 1400px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 795px; } }
  @media (min-height: 875px) and (min-width: 1400px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 790px; } }
  @media (min-height: 875px) and (min-width: 1400px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 900px) and (min-width: 1440px) {
    .js ul.slide-list {
      height: 770px; } }
  @media (min-height: 900px) and (min-width: 1440px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 820px; } }
  @media (min-height: 900px) and (min-width: 1440px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 815px; } }
  @media (min-height: 900px) and (min-width: 1440px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 950px) and (min-width: 1520px) {
    .js ul.slide-list {
      height: 820px; } }
  @media (min-height: 950px) and (min-width: 1520px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 870px; } }
  @media (min-height: 950px) and (min-width: 1520px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 865px; } }
  @media (min-height: 950px) and (min-width: 1520px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 1000px) and (min-width: 1600px) {
    .js ul.slide-list {
      height: 870px; } }
  @media (min-height: 1000px) and (min-width: 1600px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 920px; } }
  @media (min-height: 1000px) and (min-width: 1600px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 915px; } }
  @media (min-height: 1000px) and (min-width: 1600px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 1050px) and (min-width: 1680px) {
    .js ul.slide-list {
      height: 920px; } }
  @media (min-height: 1050px) and (min-width: 1680px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 970px; } }
  @media (min-height: 1050px) and (min-width: 1680px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 965px; } }
  @media (min-height: 1050px) and (min-width: 1680px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 1100px) and (min-width: 1760px) {
    .js ul.slide-list {
      height: 970px; } }
  @media (min-height: 1100px) and (min-width: 1760px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 1020px; } }
  @media (min-height: 1100px) and (min-width: 1760px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 1015px; } }
  @media (min-height: 1100px) and (min-width: 1760px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 1150px) and (min-width: 1840px) {
    .js ul.slide-list {
      height: 1020px; } }
  @media (min-height: 1150px) and (min-width: 1840px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 1070px; } }
  @media (min-height: 1150px) and (min-width: 1840px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 1065px; } }
  @media (min-height: 1150px) and (min-width: 1840px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 1200px) and (min-width: 1920px) {
    .js ul.slide-list {
      height: 1070px; } }
  @media (min-height: 1200px) and (min-width: 1920px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 1120px; } }
  @media (min-height: 1200px) and (min-width: 1920px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 1115px; } }
  @media (min-height: 1200px) and (min-width: 1920px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 1250px) and (min-width: 2000px) {
    .js ul.slide-list {
      height: 1120px; } }
  @media (min-height: 1250px) and (min-width: 2000px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 1170px; } }
  @media (min-height: 1250px) and (min-width: 2000px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 1165px; } }
  @media (min-height: 1250px) and (min-width: 2000px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  @media (min-height: 1300px) and (min-width: 2080px) {
    .js ul.slide-list {
      height: 1170px; } }
  @media (min-height: 1300px) and (min-width: 2080px) and (max-width: 768px) {
    .js ul.slide-list {
      height: 1220px; } }
  @media (min-height: 1300px) and (min-width: 2080px) and (max-width: 480px) {
    .js ul.slide-list {
      height: 1215px; } }
  @media (min-height: 1300px) and (min-width: 2080px) {
      .js ul.slide-list .caption.extended {
        font-size: 13px;
        line-height: 16.9px; } }
  .js ul.slide-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    height: 100%;
    text-align: center;
    position: absolute;
    font-size: 1em;
    width: auto;
    display: block;
    float: left;
    padding: 0;
         /*   @include transition-property(left,  $dur, ease-in-out);
           @include single-transition(right,  $dur, ease-in-out);
*/ }
    .js ul.slide-list li:first-child {
      padding-left: 0; }
    .js ul.slide-list li:last-child {
      padding-right: 0; }
    .js ul.slide-list li.last {
      padding-right: 0; }
    @media (max-width: 480px) {
      .js ul.slide-list li {
        visibility: visible; } }
    .js ul.slide-list li .slide-img {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 100%;
      width: auto;
      padding-bottom: 6em;
      display: block;
      float: left;
      margin: 0; }
    .js ul.slide-list li .caption {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      margin-top: -4.5em;
      text-align: center;
      font-size: 1em;
      line-height: 1.3;
      width: 100%;
      color: #000;
      letter-spacing: .1em;
      word-wrap: normal;
      white-space: normal; }
      .js ul.slide-list li .caption.extended {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: 300;
        top: 10%;
        left: 15%;
        width: 70%;
        text-transform: none;
        text-align: left;
        white-space: normal;
        word-wrap: normal;
        -moz-user-select: text;
        -ms-user-select: text;
        -webkit-user-select: text;
        user-select: text;
        height: 1000px; }
        .js ul.slide-list li .caption.extended .column {
          float: left;
          overflow: visible;
          height: 1000px; }
          .js ul.slide-list li .caption.extended .column.first {
            width: 50%; }
            .js ul.slide-list li .caption.extended .column.first .wrap {
              float: right;
              margin-right: 2em; }
              .js ul.slide-list li .caption.extended .column.first .wrap p {
                clear: both; }
          .js ul.slide-list li .caption.extended .column.second {
            width: 50%; }
          .js ul.slide-list li .caption.extended .column p {
            float: left; }
          .js ul.slide-list li .caption.extended .column p {
            float: left;
            width: 100%;
            margin-top: 0;
            margin-bottom: .7em; }
      .js ul.slide-list li .caption.white {
        color: white; }
        .js ul.slide-list li .caption.white p::selection, .js ul.slide-list li .caption.white a::selection {
          background: white;
          color: #000; }
      .js ul.slide-list li .caption.black {
        color: #000; }
        .js ul.slide-list li .caption.black p::selection, .js ul.slide-list li .caption.black a::selection {
          background: #000;
          color: white; }
      .js ul.slide-list li .caption a {
        text-decoration: underline;
        color: inherit; }
        .js ul.slide-list li .caption a:hover {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
          opacity: 0.8; }
    .js ul.slide-list li .share-overlay {
      visibility: hidden;
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0;
      display: block;
      bottom: 6em;
      left: 0;
      right: 0;
      background-color: #222;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      z-index: auto; }
      .js ul.slide-list li .share-overlay .icon-wrap {
        position: absolute;
        top: 50%;
        width: 100%; }
        @media (max-width: 768px) {
          .js ul.slide-list li .share-overlay .icon-wrap {
            font-size: 6px; } }
        @media (max-width: 480px) {
          .js ul.slide-list li .share-overlay .icon-wrap {
            font-size: 4px; } }
        .js ul.slide-list li .share-overlay .icon-wrap a {
          display: inline-block; }
          .js ul.slide-list li .share-overlay .icon-wrap a img {
            margin-top: -50%;
            padding: 3em;
            width: 3.33333em;
            height: 3.33333em; }
    .js ul.slide-list li.current.share-panel .share-overlay {
      visibility: visible; }

.js .section-info ul.slide-list li .caption.extended {
  top: 12%; }

@media (max-width: 480px) {
  .section-info .slide-list {
    height: 600px !important;
    float: left; }
  .section-info .slide {
    float: left; }
    .section-info .slide .caption.extended {
      top: 50px !important; } }
@media (max-width: 718px) {
  .section-info ul.slide-list li .slide-img {
    width: 400px;
    visibility: hidden; } }
@media (max-height: 500px) {
  .section-info ul.slide-list li .slide-img {
    width: 400px;
    visibility: hidden; } }
@media (max-width: 718px) {
  .section-info .extended {
    color: black !important; } }
@media (max-height: 500px) {
  .section-info .extended {
    color: black !important; } }
