/*html { font-size: 62.5%; }

		body { font-family: 'Open Sans', Arial, sans-serif; font-size: 1.6rem; }

		h2 { font-weight: 500; }*/

		em { font-size: 0.8rem; color: #999; }

.container { max-width: 1200px; width: 100%; margin: 0 auto; }

.clearfix { overflow: auto; zoom: 1; }

.page-grid .page-grid-item { margin-bottom: 2%; }
.page-grid .page-grid-item h2 { font-size: 1.4rem; margin: 2% 0; line-height: 1.8rem;}
.page-grid .page-grid-item p { font-size: 0.8rem; margin: 1% 0; text-overflow: ellipsis; }

.page-cover .page-cover-item h2 { font-size: 1.6rem; margin: 2% 0; line-height: 2rem;}
.page-cover .page-cover-item p { font-size: 0.9rem; margin: 1% 0; text-overflow: ellipsis; }

.page-cover-tags, .page-grid-tags { list-style: none; color: #FB7A8E; padding-left: 0; margin: 1% 0; }
.page-cover-tags li, .page-grid-tags li { display: inline; /*font-size: 1rem;*/ }
.page-cover-tags li:after, .page-grid-tags li:after { content: ", "; }
.page-cover-tags li:last-child:after, .page-grid-tags li:last-child:after { content: ""; }

.image-portrait img, .image-unknown img, .image-landscape img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ }
.page-cover .image-portrait img { max-width: 60%; }

.page-grid { display: block; margin: 0 auto 0 auto; }
.page-grid .page-grid-item { display: inline-block; vertical-align: top; }
.page-grid .page-grid-item h2 { margin: 5% 0; }
.page-grid .page-grid-item a { text-decoration: none; }
.page-grid .page-grid-item.image-portrait .page-grid-wrap, .page-grid .page-grid-item.image-unknown .page-grid-wrap { max-width: 250px; }
.page-grid .page-grid-item.image-landscape .page-grid-wrap { max-width: 290px; }
.page-grid .page-grid-item .page-grid-img { float: left; width: 100%; }
.page-grid .page-grid-item .page-grid-wrap { display: block; text-align: left; vertical-align: top; }
.page-grid .page-grid-item .page-grid-wrap a.tag { color: #FB7A8E; font-size: 1rem;}

.page-cover { display: block; }
.page-cover .page-cover-item { display: block; overflow: hidden; margin-top: 5%; margin-bottom: 5%; }
.page-cover .page-cover-item h2 { margin: 5% 0; }
.page-cover .page-cover-item.image-portrait .page-cover-img, .page-cover .page-cover-item.image-unknown .page-cover-img { max-width: 335px; max-height: 440px; }
.page-cover .page-cover-item.image-landscape .page-cover-img { max-width: 500px; max-height: 365px; }
.page-cover .page-cover-item .page-cover-wrap { display: block; margin: 0 auto; width: 95%; }
.page-cover .page-cover-item .page-cover-wrap h2 { margin-top: 0; line-height: 1; }
.page-cover .page-cover-item .page-cover-wrap a { text-decoration: none; }
.page-cover .page-cover-item .page-cover-wrap a.tag { color: #FB7A8E; font-size: 1rem;}

@media all and (max-width: 480px) {
  .page-cover .page-cover-item h2 { font-size: 1.2rem; line-height: 1.6rem;}
  .page-cover .page-cover-item p { font-size: 0.8rem; margin: 1% 0; text-overflow: ellipsis; }

  .page-grid .page-grid-item h2 { font-size: 1.1rem; margin: 2% 0; line-height: 1.4rem;}
  .page-grid .page-grid-item p { font-size: 0.8rem; margin: 1% 0; text-overflow: ellipsis; }
}
@media all and (min-width: 481px) { html { font-size: 80%; }
  .page-cover .page-cover-img { margin: 0 auto; width: 100%; }
  .page-cover .page-cover-wrap { display: inline-block; float: left; vertical-align: top; }
  .page-cover .page-cover-wrap:first-child { width: 65%; text-align: center; }
  .page-cover .page-cover-wrap:nth-child(2) { width: 25%; padding-left: 5%; } }
@media all and (min-width: 768px) { html { font-size: 100%; } }
