.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.page-cover-tags,
.page-grid-tags {
  list-style: none;
  color: #FB7A8E;
  padding-left: 0;
  margin: 10px 0;
}

.page-cover-tags li,
.page-grid-tags li{

  display: inline;
  font-size: 80%;
}

.page-cover-tags li:after,
.page-grid-tags li:after {
  content: ", ";
}

.page-cover-tags li:last-child:after,
.page-grid-tags li:last-child:after  {
  content: "";
}

.image-portrait,
.image-landscape,
.image-unknown {
  width: 100%;
  height: auto;
}

.page-grid {
  width: 90%;
  margin: 20px auto;
}
.page-grid .page-grid-item {
  display: inline-block;
  padding-bottom: 40px;
}

/*.page-grid .page-grid-item h2 {
  font-size: 24px;
}

.page-grid .page-grid-item p {
  font-size: 14px;
}

.page-grid .page-grid-item p {
  font-size: 14px;
}*/

.grid-size,
.page-grid .page-grid-item.image-portrait,
.page-grid .page-grid-item.image-unknown{
  max-width: 300px;
  width: 28%;
  text-align: center;
}

.page-grid .page-grid-item.image-landscape{
  max-width: 450px;
  width: 44%;
  text-align: center;
}

.page-grid .page-grid-item.image-portrait img,
.page-grid .page-grid-item.image-portrait .page-grid-wrap,
.page-grid .page-grid-item.image-unknown img,
.page-grid .page-grid-item.image-unknown .page-grid-wrap {
  max-width: 200px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

.page-grid .page-grid-item.image-landscape img,
.page-grid .page-grid-item.image-landscape .page-grid-wrap {
  max-width: 300px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

.page-cover {
  width: 100%;
}

.page-cover .page-cover-item {
  display: block;
  padding: 15px 0;
}

.page-cover .page-cover-item .page-cover-img {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: right;
}
.page-cover .page-cover-item .page-cover-wrap {
  width: 40%;
  padding: 0 40px;
  display: inline-block;
  vertical-align: top;
}

.page-cover .page-cover-item .page-cover-wrap h2 {
  margin-top: 0;
  line-height: 1;
}

.page-cover .page-cover-item {
  display: block;
}

.page-cover .page-cover-item.image-portrait img,
.page-cover .page-cover-item.image-unknown img {
  max-width: 300px;
}

.page-cover .page-cover-item.image-landscape img{
  max-width: 450px;
}
