@charset "UTF-8";

/* Layout Small Screens */

li.media h2 {
	margin: 0 0 0.7em 0;
}

header {
	float:center;
	padding:0px 0px 0px 0px;
	height: 50px;
}

div .logo {
padding: 7px 0px 0px 5px;
}

nav {
	position: static;
	float: center;
	padding: 1px 0px 2px 0px;
	background-color:#999;
	width:100%;
	margin-bottom: 13px;	
}

nav a {
	color:#FFF;
	display: block;
	/*margin: 7px;
	margin: 12px 7px;*/
	margin: 10px 15px;
	padding:10px;
	border:1px solid #a6abc5;
	background:url(../images/assets/mobile_link_arrow.png) no-repeat right center;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

nav div {
	height: 305px;
}

nav a:hover {
	color:#FFF;
	background: rgba(255,255,255,.15);
}

article {
	/*padding: 25px 10px 10px 20px;*/
	padding: 25px 10px 10px 10px;
}

/*promo*/

.promo_container {
	padding: 0px;
}

.promo_container .promo {
	width: auto;
	float: none;
	padding: 10px 0px 0px 0px;
	background-position: 20px 13px;
	border-top: 1px solid #ccc;
}

.promo_container img {
	width:160px;
	height:auto;
}

.promo_container .promo .content {
	padding: 0px 20px 5px 15px;
}

.promo_container .promo h3 {
	float: right;
}
.promo_container .promo p.desc {
	float: right;
	margin: 0px 0px 0px 0px;
}

a.mobile_menu {
	display:block;
	width:40px;
	height:34px;
	border-top: 2px solid #999;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: #999 url(../images/assets/mobile_link_menu.png) no-repeat 4px 4px;
	position: absolute;
	top: 14px;
	right: 20px;
	cursor: pointer;
}

a.mobile_menu.selected { background-position: 4px -26px; }

	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
		padding: 0 10px 0 0;
	}
	
	ul.news {
		margin-left: 0;
	}
	ul.news li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
		padding: 0 10px 0 0;
	}
	
/********homepage**********/
.all-img-container{padding:10px 0px 10px 0px; width:auto;}
.container{height:50px;width:90px;float:left;margin-left:3px;display:inline;margin-bottom:15px; }
.cycler img {width:100%; height:60px;}
.container-long{width:70px;}
.container-short{width:35px;}


.media__body .inner {margin-top:60px;}