@charset "UTF-8";

/* Layout (global rules for all sizes) */
body { margin: 0; padding:0; }
header a.logo {
	display:block;
	background-position: 0px 0px;
	background-repeat:no-repeat;
}

header {
	height: 70px;
}

div .logo {
	padding: 15px 0px 0px 10px;
}

header div a{
	text-decoration:none;
}

nav {
	padding: 22px 70px 0px 0px;
	float: right;
	overflow:hidden;
}

nav a {
	margin:12px 0px 10px 15px;
}

article {
	/*padding:20px 20px 10px 30px;*/
	padding:20px 20px 10px 20px;
}

.promo_container {
	padding:0px 60px 30px 30px;
}

.promo_container .promo {
	width:31%;
	float:left;
	background-position: 0px 3px;
	padding: 0px 5px 0px 5px;
}

.promo_container .promo p.desc {
	text-align: left;
	margin: 0px 0px 0px 0px;
}

@media screen and (max-width:990px){
	footer { padding-left:20px; }
}

a.mobile_menu {
	display: none;
}
