@charset "UTF-8";

/* Layout Medium Screens */

li.media h2 {
	margin: 0 0 0.5em 0;
}

nav {
	padding: 22px 30px 0px 0px;
	float: right;
}

.promo_container {
	padding: 0px 30px 30px 30px;
}

/**********Homepage gallery***************/
.all-img-container{padding:0px 10px 10px 10px;}
.container{height:100px;width:180px;float:left;margin-left:12px;display:inline;margin-bottom:30px; }
.container-long{width:220px;}
.container-short{width:80px;}
.cycler{position:relative;}
.cycler img{position:absolute;z-index:1;}
.cycler img.active{z-index:3}
.cycler img {width:100%; height:120px;}
.media__body .inner {margin-top:30px;}

.first-container { margin-left:0;}








