@charset "UTF-8";

/* Global Styles */

body {
	color: #575c7a;
	line-height: 1.5em;
	/*font-family: Arial;replace*/
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.page {
	max-width: 980px;
	margin: 0px auto;
	position: relative; background-color: #fff;
}

header {
	float: left;
}

a.logo {
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: 100;
	font-size: 30px;
	padding:0px 20px 0px 20px;
}

h1 { color: #000; margin: 0em 0em .7em 0em; font-size: 1.4em; font-weight: bold; }
h2 { font-size: 1.2em; margin: 0.6em 0em 0em 0em; }
h3 { font-size: 1.3em; margin: 0em 0em 0.4em 0em; }
.grid-container h3 { text-align: left; }

a.h1 { text-decoration:none }

p { margin: 0px 0px .75em 0px; }
a { color: #333; }
a:hover { color: #999; }
a.cta {
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	margin: .5em 0 0 0;
	padding: 0px 12px 0px 0px;
	background: url(../images/cta_arrow.png) no-repeat right 0px;
}
a.cta:hover { background-position: right -50px; }
a.email-link { 
	background-image: url('../images/assets/mail_icon.png');
	background-repeat: no-repeat;
	display: block;
	padding: 2px 0px 0px 25px;
}
a.tel { 
	background-image: url('../images/assets/tel_icon.png');
	background-repeat: no-repeat;
	display: block;
	padding: 3px 0px 0px 25px;
}
a.sm-icon img.sm-icon { padding: 15px 0px 0px 5px; }



.promo h3 { font-size: 1.1em; margin: 0;}
.promo p { line-height: 1.2em; font-size: .9em; margin-bottom: .5em; }
.promo a { text-decoration: none; text-align: center;}
.promo { background-repeat: no-repeat; }

nav a {
	color:#333;
	text-decoration: none;
	display: inline-block;
	/*font-weight: bold;*/
	/*font-size: 1.2em; replace*/
	font-size: 1.3em;
	font-size: 14px;
}
nav a:hover { color: #999; }
nav a.selected { font-weight:bold; }
.promo_container .promo img.cta {
	max-width:100%;
	max-height:100%;
}

.clear-fix { clear: both; line-height: 1px; }
.clear-left { clear: left; }

/*two col image*/
div.grid-container {
	margin-top: 20px;
}

ul.rig {
	list-style: none;
	font-size: 0px;
	/*margin-left: -2.5%;  should match li left margin */
	padding-left: 0px !important;
	padding-right: 0px !important;
}
ul.rig li {
	display: inline-block;
	margin: 0 0 10px 10px;
	background: #fff;
	font-size: 12px;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li:nth-child(odd) {
	margin-left: 0px;
}

ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig.columns-2 li {
	width: 49%; /* this value + 2.5 should = 33% */
	cursor: pointer; 
	cursor: hand;
}

ul.rig li h3 {
	font-size: 1.3em;
	font-weight:normal;
	text-align: center;
}

ul.rig li h3.news {
	text-align: left;
}

ul.rig li a {
	text-decoration: none;
	color:#575c7a;
}

/*three col image*/
ul.news {
	list-style: none;
	font-size: 0px;
	/*margin-left: -2.5%;  should match li left margin */
	padding-left: 0px !important;
	padding-right: 0px !important;
}
ul.news li {
	display: inline-block;
	margin: 0 0 10px 10px;
	background: #fff;
	font-size: 12px;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.news li:nth-child(3n+1) {
	margin-left: 0px;
}

ul.news li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.news li h3 {
	margin: 0 0 5px;
}

ul.news.columns-3 li {
	width: 32%; /* this value + 2.5 should = 33% */
}


ul.news li h3 {
	font-size: 1.3em;
	font-weight:normal;
	text-align: center;
}

ul.news li h3.news {
	text-align: left;
}

ul.news li a {
	text-decoration: none;
	color:#575c7a;
}
/**********/

figure {
	margin: 20px 0px 10px 0px;
}

figure img {
	width:100%;
	height:auto;
}

section.abstract {
	font-size: 1.1em;
}

/*exhibitions*/

ul.exhibitions {
	list-style: none;
	font-size: 0px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

ul.exhibitions li {
	display: inline-block;
	background: #fff;
	font-size: 12px;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.exhibitions {
	font-size: 1.4em;
	font-weight:normal;
}

ul.exhibitions li span.date {
	display: block;
}
ul.exhibitions li span.event {
	display: block;
}
ul.exhibitions li span.curator {
	display: block;
	margin: 0em 0em 0.8em 0em;
}

/***********Books**********/

ul.books {
	list-style: none;
	font-size: 0px;
	/*margin-left: -2.5%;  should match li left margin */
	padding-left: 0px !important;
	padding-right: 0px !important;
}
ul.books li {
	display: inline-block;
	margin: 0 0 10px 10px;
	background: #fff;
	font-size: 12px;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.books li:nth-child(3n+1) {
	margin-left: 0px;
}

ul.books li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul.books.columns-3 li {
	width: 32%; /* this value + 2.5 should = 33% */
}


/************Image Gallery************/
.lg-backdrop {
	background-color:#FFF;
	opacity: 0.1;
}

.lg-toolbar {
	background-color: rgba(0, 0, 0, 0.65);
}

.lg-actions .lg-next, .lg-actions .lg-prev {
	background-color: rgba(0, 0, 0, 0.65);
}



/**********Homepage gallery***************/
.all-img-container{padding:0px 0px 10px 0px;}
.container{height:140px;width:260px;float:left;margin-left:20px;display:inline;margin-bottom:35px; }
.container-long{width:230px;}
.container-short{width:120px;}
.cycler{position:relative;}
.cycler img{position:absolute;z-index:1;}
.cycler img.active{z-index:3}
.cycler img {width:100%; height:160px;}

.first-container { margin-left:0; !important}


 @media (min-height: 700px) and (min-width: 1120px) and (max-width: 981px) {
	 .page {
	max-width: 1120px;
	margin: 0px auto;
	position: relative; background-color: #fff;
}
 }



/***********************Image Gallery share**************************/

.slide {
    margin-top: 20px;
}

.wrap img {
    position: absolute;
    bottom: 0;	
}

.share img:nth-of-type(1) {
    right: 0;
	margin-right: 30px;
}

.share1 img:nth-of-type(1) {
    left: 0;
	margin-left: 30px;
}

.overlay-text {
	font-size: 1.4em;
	color:#FFF;
}

/******************* Video overlay in image gallery***************************/
/* ------ venobox.css --------*/
.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after{
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{
    -webkit-overflow-scrolling:touch;
}
/* ------- overlay: change here background color and opacity ----- */
.vbox-overlay{
    background: rgba(0,0,0,0.85); 
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.relativo{
    float: left;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
/* ----- preloader ----- */
.vbox-preloader{
    position:fixed; 
    width:36px; 
    height:36px;
    left:50%; 
    top:50%; 
    margin-left:-18px; 
    margin-top:-18px;
    background: url(../images/assets/preload.gif) center center no-repeat;
    text-indent: -100px;
    overflow: hidden;
}

/* ----- navigation ----- */
.vbox-close{
    cursor: pointer;
    position: fixed;
    top: -1px;
    right: 0;
    width: 46px;
    height: 40px;
    padding: 10px 20px 10px 0;
    display: block;
    background: url(../images/assets/close.gif) no-repeat #161617;
    background-position:10px center;
    color: #fff;
    text-indent: -100px;
    overflow: hidden;
}
.vbox-next, .vbox-prev{
    cursor: pointer;
    position: fixed;
    top: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    text-indent: -100px;
    overflow: hidden;
}
.vbox-prev{
    left: 10px;
    background: url(../images/assets/prev.gif) center center no-repeat;
}
.vbox-next{
    right: 10px;
    background: url(../images/assets/next.gif) center center no-repeat;
}

.vbox-title{
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    color: #fff;
    padding: 6px 40px;
    overflow: hidden;
    background: #161617;
    position: fixed;
    display: none;
    top: -1px;
    left: 0;

}
.vbox-num{
    cursor: pointer;
    position: fixed;
    top: -1px;
    left: 0;
    height: 40px;
    display: block;
    color: #fff;
    overflow: hidden;
    line-height: 28px;
    font-size: 12px;
    padding: 6px 10px;
    background: #161617;
    display: none;
}
/* ------- inline window ------ */
.vbox-inline{
    width: 420px;
    height: 315px;
    padding: 10px;
    background: #fff;
    text-align: left;
    margin: 0 auto;
    overflow: scroll;
}


/**************Image Overlay***************/
.media {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.media__image { display: block; }

.media__body {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 1em 1em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.media__body .inner {
	margin-top:15px;
}

div.media__body:hover, div.media__body.hover { opacity: 1; }
a.hoover:hover, a.hoover.hover { opacity: 1; }
a.taphover:hover, a.taphover.hover {
    background: blue;
    color: white;
}

/* ------- Video & iFrames window ------ */
.venoframe{
    border: none;
    width: 960px;
    height: 720px;
    overflow: scroll;
}
@media (max-width: 992px) {
    .venoframe{
        width: 640px;
        height: 480px;
    }
}
@media (max-width: 767px) {
    .venoframe{
        width: 420px;
        height: 315px;
    }
}
@media (max-width: 460px) {
    .vbox-inline{
        width: 100%;
    }

    .venoframe{
        width: 100%;
        height: 260px;
    }
}

/* ------- PLease do NOT edit this! (or do it at your own risk) ------ */
.vbox-container{
    position: relative;
    background: #000;
    width: 98%;
    max-width: 1024px;
    margin: 0 auto;
}
.vbox-content{
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.vbox-container img{
    max-width: 100%;
    height: auto;
}
.vwrap{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    width: 100%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    height: auto;
    overflow: hidden;
    z-index: 1;
}


/***************** End of gallery overlay video *****************/